body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

.container {
    background-color: white;
    width: 80%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    white-space: normal;
    word-break: break-word; /* 長すぎる単語のときに改行できる */
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

table {
    font-size: 14px;
    width: 50%;
    margin-top: 25px;
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

td:first-child {
    font-weight: bold;
}

/* 画像リンクのためのスタイル */
.image-container {
    position: relative;
    display: inline-block;
    width: 600px;  /* 画像のサイズを調整 */
    height: 400px;  /* 高さも調整 */
    background-color: black;  /* 背景色を黒に設定 */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;  /* アスペクト比を保ちながら収める */
    transition: opacity 0.3s ease;  /* 透明度の遷移 */
}

.image-container:hover img {
    opacity: 0.6;  /* 画像の色を薄くする */
}


.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px; /* PCでの表示 */
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;  /* ホバーを邪魔しないため追加 */
    /* 長い文字列がはみ出るのを防ぐための設定（そのままでOK） */
    white-space: normal;
    word-break: break-word;
}


.image-container:hover .message {
    opacity: 1;
}
