body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    color: #000;
}

.container {
    background-color: white;
    width: 80%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

table {
    font-size: 14px;
    width: 50%;
    margin-top: 25px;
    border-collapse: collapse;
    border: 1px solid black;
    color: #000;
}

.table-w50 { width: 50%;}
.table-w100 {width: 100%;}

td, th {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

td:first-child {
    font-weight: bold;
}




/* summary要素のスタイル */
summary {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer; /* マウスオーバー時にポインターを表示 */
}

/* details要素が開いたときのスタイル */
details[open] summary {
  background-color: #e0e0e0;
  border-bottom: none;
}

/* detailsの中身のスタイル */
details p, details h2, details ul, details table {
  padding: 10px;
  border: 1px solid #ffffff;
  border-top: none;
}


details {
    margin-bottom: 10px; /* 各詳細ブロックの間にスペース */
    padding: 10px; 
    border: 1px solid #7e7e7e; /* 薄い灰色の枠線 */
    border-radius: 5px; /* 角を少し丸める */
    background-color: #ffffff; /* ごく薄い背景色 */
}

/* ネストされた（子となる）<details> に異なるスタイルを適用 */
details details {
    background-color: #ffbebe; /* 少し青みがかった背景色 */
    border-color: #c1c1c1; /* 青い枠線 */
    margin-top: 10px; /* 親の詳細からの間隔 */
    padding-left: 20px; /* 左側に少しインデント */
}

/* さらにネストされた <details>（もしあれば） */
details details details {
    background-color: #ffffff; /* 少し黄色みがかった背景色 */
    border-color: #d4cb9c; /* 黄色の枠線 */
    padding-left: 30px; /* さらにインデントを深く */
}

/* <summary> のスタイル（クリックできる部分） */
summary {
    font-weight: bold;
    cursor: pointer; /* マウスオーバー時に指のカーソルを表示 */
    padding: 5px 0; /* 上下の余白 */
    outline: none; /* クリック時の点線枠を消す（任意） */
}

